@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body{
  font-family: 'Noto Sans JP', sans-serif;
  background-color:#2F004D;
  color: #F7E9E1;
}
header{
  background:url("image/background.jpg");
  background-position: 0% 45%;
  background-size: 100%;
  -webkit-filter: grayscale(100%) blur(1px);
}
header h1{
  padding:100px 0;
  text-align:center;
  -webkit-filter:grayscale(0%) blur(0%);
}
.table1{
  text-align:center;
}
.Thumbnail{
  /*text-align:center;*/
  width:40%;
  /*height:50%;*/
}

