*{
  background-color:#2F004D;
  color: #f7e9e1;
}
header{
  background:url("image/background.jpg");
  background-position: 0% 45%;
  background-size: 100%;
  -webkit-filter: grayscale(100%) blur(1px);
}
.header_title{
  padding:100px 0;
  text-align:center;
  -webkit-filter:none;
}
